tool:
  name: bcftools
  version: "1.23"
  profile: "QC_PileupCall_Annotation"

io:
  inputs:
    SeqID:          { required: true }
    Chromosome:     { required: true }  # 예: chr1 또는 1
    InputBamDir:    { required: true }
    ReferenceFasta: { required: true }
    SitesVcfGz:     { required: true }  # mpileup target sites (vcf.gz + index)
    PopAfAnnotVcf:  { required: true }  # annotate용 (chrom pos ref alt kova_AF kova_AN gnomad_AF gnomad_AN) vcf.gz
    PopAfHeaderHdr: { required: true }  # INFO header (.hdr)
    ResultDir:      { required: true }

  outputs:
    RawVcf:         { default: "[ResultDir]/[SeqID].[Chromosome].sites.raw.vcf.gz" }
    AnnVcf:         { default: "[ResultDir]/[SeqID].[Chromosome].sites.af.vcf.gz" }

params:
  BcftoolsPath: { default: "/storage/home/jhkim/Apps/bcftools/bcftools" }
  BgzipPath:    { default: "bgzip" }
  Threads:      { default: 4 }
  MinBQ:        { default: 20 }
  MinMQ:        { default: 30 }
  TmpDir:       { default: "[ResultDir]/tmp" }

  
  AnnotationQuery:
    { default: "CHROM,POS,REF,ALT,INFO/KOVA_AF,INFO/KOVA_AN,INFO/GNOMAD_AF,INFO/GNOMAD_AN" }

  # YAML에서 \t 가 깨질 수 있어서 |로 출력 후 sed로 탭 변환
  VcfQuery:
    { default: "%CHROM|%POS|%REF|%ALT|%INFO/KOVA_AF|%INFO/KOVA_AN|%INFO/GNOMAD_AF|%INFO/GNOMAD_AN|[%GT]|[%DP]|[%AD]\\n" }

cmd_line: >
  [BcftoolsPath] mpileup
  -f [ReferenceFasta]
  -T [SitesVcfGz]
  -q [MinMQ]
  -Q [MinBQ]
  -a FORMAT/AD,FORMAT/DP
  -Ou
  [InputBamDir]/[SeqID].analysisReady.bam
  |
  [BcftoolsPath] call
  -Am
  -Oz -o [RawVcf]
  &&
  [BcftoolsPath] index -f [RawVcf]
  &&
  [BcftoolsPath] annotate
  -a [PopAfAnnotVcf]
  -c [AnnotationQuery]
  -h [PopAfHeaderHdr]
  -Oz -o [AnnVcf]
  [RawVcf]
  &&
  [BcftoolsPath] index -f [AnnVcf]
