tool:
  name: CopyKitAnalysis
  version: "1.0.0"
  profile: "cbNIPT_CopyNumber_Analysis"

io:
  inputs:
    SeqID:              { required: true }
    SampleID:           { required: true }
    SamplePloidy:       { required: true }
    NGS_DataBaseDir:    { required: true }
    AnalysisRunDir:     { required: true }
  outputs:
    # 분석 디렉토리 정의 (자동 생성 대상)
    AnalysisRunDir: { default: "[ResultBaseDir]/[SampleID]" }

params:
  # parallel -j 2에 대응하는 threads
  Threads: { type: int, default: 1 }
  BinSize: { type: str, default: "200kb" }
  GenomeVersion: { type: str, default: "hg38" }
  Rscript_path: { type: str, default: "/storage/home/kangsm/runScripts/cbNIPT/GCX.cbNIPT_Run.CopyKit.Analysis.R" }
  SamplePloidy: { type: int, default: 2 }
# [Logic] 디렉토리 생성 -> 심볼릭 링크 -> parallel 실행 순서
cmd_line: >
  mkdir -p [AnalysisRunDir] &&
  ln -Tsf [NGS_DataBaseDir]/[SeqID].analysisReady.bam [AnalysisRunDir]/[SampleID].bam &&
  ln -Tsf [NGS_DataBaseDir]/[SeqID].analysisReady.bam.bai [AnalysisRunDir]/[SampleID].bam.bai &&
  Rscript [Rscript_path] \
  --SeqID [SampleID] \
  --AnalysisRunDir [AnalysisRunDir] \
  --BinSize [BinSize] \
  --Ploidy [SamplePloidy] \ 
  --GenomeVersion [GenomeVersion]