# =========================================================
# (1) GATK4 CollectSequencingArtifactMetrics
# =========================================================
tool:
  name: gatk4
  version: "4.4.0.0"
  profile: "singularity_qc_artifacts"

io:
  inputs:
    SeqID:          { required: true }
    BamDir:         { required: true }    
    qcResDir:       { required: true }
    ReferenceFasta: { required: true }

  outputs:
    artifacts_txt: { default: "[qcResDir]/[SeqID].artifacts.txt" }

params:
  bind:       { type: str, default: "/storage,/data" }
  sif:        { type: str, default: "/storage/images/gatk-4.4.0.0.sif" }
  gc_threads: { type: int, default: 14 }
  xmx_mb:     { type: int, default: 16384 }

cmd_line: >
  singularity exec -B [bind] [sif] gatk CollectSequencingArtifactMetrics
  --java-options "-XX:ParallelGCThreads=[gc_threads] -Xmx[xmx_mb]m"
  --INPUT [BamDir]/[SeqID].analysisReady.bam
  --OUTPUT [artifacts_txt]
  --FILE_EXTENSION .txt
  --REFERENCE_SEQUENCE [ReferenceFasta]
