tool:
  name: Ginkgo_Final_Optimized
  version: "1.0.0"
  profile: "absolute_path_runner"

io:
  inputs:
    SeqID:           { required: true }
    BinSize:         { required: true }
    ReadLength:      { required: true }
    Threads:         { default: 1 }
    # Ginkgo가 설치된 실제 절대 경로 (가장 중요!)
    GinkgoHomeDir:   { default: "/storage/apps/ginkgo" }
    BamToBedDir:     { default: "/data/cbNIPT/bamToBeds" }
    NormalDir:       { default: "/data/cbNIPT/bamToBeds" }
    ResultBaseDir:   { default: "/data/cbNIPT/ginkgo_analysis" }
    Genome:          { default: "hg38" }

  outputs:
    # --- 여기서 모든 도구의 경로 앞에 [GinkgoHomeDir]을 붙여 절대 경로로 만듭니다 ---
    BinMeth:         { default: "variable_[BinSize]000_[ReadLength]_bwa" }
    WorkDir:         { default: "[ResultBaseDir]/[SeqID]/[SeqID]_[BinSize]kb" }
    
    BinUnsorted:     { default: "[GinkgoHomeDir]/scripts/binUnsorted" }
    BinFile:         { default: "[GinkgoHomeDir]/genomes/[Genome]/original/[BinMeth]" }
    BinCount:        { default: "$(wc -l < [BinFile])" }
    
    ProcessR:        { default: "[GinkgoHomeDir]/scripts/process.R" }
    ReclustR:        { default: "[GinkgoHomeDir]/scripts/reclust.R" }
    CNVCaller:       { default: "[GinkgoHomeDir]/scripts/CNVcaller" }

params:
  NormalSamples:     { default: "Normal_01.bed.gz Normal_02.bed.gz Normal_03.bed.gz" }
  # R 실행 인자 (경로 미포함 변수들만 정리)
  R_Args_Base:       { default: "status.xml data 2 [BinMeth] ward euclidean 1 refDummy.bed_mapped 0 ploidyDummy.txt 0 1" }
  R_Args_Reclust:    { default: "status.xml [BinMeth] ward euclidean 0 ploidyDummy.txt 0" }

cmd_line: >
  mkdir -p [WorkDir] &&
  ln -sf [NormalDir]/*.bed.gz [WorkDir]/ &&
  ln -sf [BamToBedDir]/[SeqID].bed.gz [WorkDir]/ &&
  
  find [WorkDir] -maxdepth 1 -name "*.gz" | xargs -I {} bash -c 'N=$(basename "{}" | sed "s/\.bed.*//"); [BinUnsorted] [BinFile] [BinCount] <(zcat "{}" | awk "{if(\$1!~/^chr/) print \"chr\"\$0; else print \$0}") $N "{}"_mapped' &&
  
  find [WorkDir] -maxdepth 1 -name "*.bed" ! -name "*.gz" | xargs -I {} bash -c 'N=$(basename "{}" | sed "s/\.bed.*//"); [BinUnsorted] [BinFile] [BinCount] <(awk "{if(\$1!~/^chr/) print \"chr\"\$0; else print \$0}" "{}") $N "{}"_mapped' &&
  
  paste [WorkDir]/*_mapped > [WorkDir]/data &&
  
  [ProcessR] [GinkgoHomeDir]/genomes/[Genome]/original [WorkDir] [R_Args_Base] &&
  [ReclustR] [GinkgoHomeDir]/genomes/[Genome]/original [WorkDir] [R_Args_Reclust] &&
  [CNVCaller] [WorkDir]/SegCopy [WorkDir]/CNV1 [WorkDir]/CNV2 